*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width:100%;
    height:100vh;
    border:2px solid red;
  
}

#display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#displaycolor{
    height:400px;
    width:80%;
    border:2px solid blue;
    margin-left:20px;
    margin-bottom:20px;
    border-radius:20px;
    background: #ffffff; 
}

